package ${package}.mapper;

import ${package}.entity.${className};
import com.baomidou.mybatisplus.mapper.BaseMapper;

/**
 * ${comments} Mapper 接口
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {
	
}
